@model IEnumerable<cmsGame.Models.Upload.UploadJavaGameModel>

@{
    ViewData["Title"] = "DetailsJavaGame";
}
<style>
    th {
        border: 1px solid black;
    }

    td {
        border: 1px solid black;
    }

   
</style>
<h1>DetailsJavaGame</h1>
@{
    ViewBag.Title = "Index";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Upload File</h6>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("InsertGameJava", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <!-- edit form column -->

            <div class="alert-info">
                <div class="form-group col-md-12 col-lg-12">
                    <div class="col-lg-12">Content Owner:</div>
                    <div class="col-lg-12">
                        @Html.DropDownList("ddlOwner", (SelectList)ViewBag.Owner, "Select Owner", new { @class = "form-control" })

                    </div>
                </div>

                <div class="form-group col-lg-12 col-md-12">
                    <div class="col-lg-12 col-md-12">
                        Game Category:
                    </div>
                    <div class="col-lg-12 col-md-12">
                        @Html.DropDownList("ddlCategory", (SelectList)ViewBag.Category, "Select Category", new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group col-lg-12 col-md-12">
                    <div class="col-lg-12 col-md-12">Meta Data (CSV):</div>
                    <div class="col-lg-12 col-md-12">
                        <input type="file" name="CsvFile" data-toggle="tooltip" title="Select CSV file of contents." />
                        <input type="submit" class="btn btn-info" value="Import" />
                        <span>OR</span>
                        <input type="reset" value="Cancel" class="reset btn btn-warning" />
                    
                    </div>
                </div>

                @*<div class="form-group col-lg-12 col-md-12">
            <div class="col-lg-3 col-md-3">Content (zip):</div>
            <div class="col-lg-8 col-md-8">
            <input type="file" name="zip" data-toggle="tooltip" title="Select zip file of contents." />
            </div>
            </div>*@
               @* <div class="form-group col-lg-12" style="padding:6px;">
                    <div class="col-lg-12 col-md-12">
                    </div>
                    <div class="col-lg-12 offset-4">
                        <input type="submit" class="btn btn-info" value="Import" />
                        <span>OR</span>
                        <input type="reset" value="Cancel" class="reset btn btn-warning" />
                    </div>
                </div>
                <h4 style="color:#f00;">@ViewBag.Error</h4>*@
            </div>



        }
    </div>
</div>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<p>
    <a asp-action="CreateForJava">Create New</a>
</p>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Java List</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="tblJava" class="display" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Game_Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Preview_URL)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Game_Owner_Code)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Game_Type_Code)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Game_Price)
                    </th>
                    @* <th>
                    @Html.DisplayNameFor(model => model.Description)
                    </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.Expire)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Upload_Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Upload_By)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Ismapped)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Banner_Url)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Game_Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Preview_URL)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Game_Owner_Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Game_Type_Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Game_Price)
                        </td>
                        @*   <td>
                    @Html.DisplayFor(modelItem => item.Description)
                    </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.Expire)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Upload_Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Upload_By)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ismapped)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Banner_Url)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Game_Code" class="btn btn-primary">Edit</a> 
                           @* <a asp-action="Details" asp-route-id="@item.Game_Code">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Game_Code">Delete</a>*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/contents/js/demo/datatables-demo.js"></script>
<link href="~/contents/vendor/datatables/datatables.bootstrap4.min.css" rel="stylesheet" />
<link href="~/contents/vendor/datatables/datatables.bootstrap4.css" rel="stylesheet" />
<script src="~/contents/vendor/datatables/datatables.bootstrap4.min.js"></script>
<script src="~/contents/vendor/datatables/datatables.bootstrap4.js"></script>
<script src="~/contents/vendor/datatables/jquery.datatables.min.js"></script>
<script src="~/contents/vendor/datatables/jquery.datatables.js"></script>
<link rel="stylesheet" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />
<script src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        let table = new DataTable('#tblJava',{
            responsive: true,
            order: false

        });

    });


</script>
@section Scripts {


}
